footer {
    .container {
        display: flex;
    }

    .logo {
        @include flexWidth(8%);

        &.logo_small {
            img {
                width: 38px;
            }
        }
    }

    .footer_link_group {
        display: flex;
    }

    $color_1: #fff;


    .footer_link_group {
        @include flexWidth(33.33%);
    }

    .newsletter_wrap {
        @extend .footer_link_group;
        flex-direction: column;
    }


}


.form_container {
    overflow: hidden;
    input[type="text"] {
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
    }

    &.darkblue_theme {
        height: 50px;
        border: 2px solid $lightblue;
        background-color: $darkblue;

        input[type="text"] {
            background-color: $darkblue;

            &::placeholder {
                color: $lightblue;
                line-height: 1.1875;
                font-size: 16px;
                box-shadow: none;
            }

        }
    }

    &.lightblue_theme {
        height: 55px;
        background-color: $lightblue;
        flex-direction: row-reverse;

        input[type="text"] {
            background-color: $lightblue;

            &::placeholder {
                color: #fff;
                line-height: 1.1875;
                font-size: 16px;
                box-shadow: none;
            }

        }
    }



    padding: 0 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: flex;
    align-items: center;

    input[type="text"] {
        height: 100%;
        border: none;
        padding-left: 20px;
        width: 100%;

        &:focus-visible {
            border: none;
            box-shadow: none;
            outline: none;
        }


    }



    button {
        width: 50px;
        height: 100%;
        background: none;
        border: none;
    }
}


.text_2xl {
    &.mb {
        margin-bottom: 0.68em;
    }
}